@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Northwind</h2>
<h3>A quick summary about Northwind</h3>

<p>Northwind Traders Access database is a sample database that shipped with Microsoft Office suite. The Northwind database contains the sales data for a fictitious company called Northwind Traders, which imports and exports specialty foods from around the world. You can use and experiment with Access with Northwind database while you're learning and develop ideas for Access.</p>
