@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Callan's contact details</h3>


<p>Please get in touch if you have any questions about this site.</p>

<address>
    <strong>Callan:</strong>   <a href="mailto:cchr158@aucklanduni.ac.nz">cchr158@aucklanduni.ac.nz</a><br />
</address>