@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Northwind</h1>
    <p class="lead">This is some text about a fictitious company, on a contrived site, created by Callan J. Christophersen.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting in touch</h2>
        <p>
            We'd love to hear any questions or feedback from you about our products.
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out our stuff</h2>
        <p>We have a wide range of products sourced from all over the world. Why don't you check them out here.</p>
        <p><a class="btn btn-default" href="/Sql/ProductsView">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our team</h2>
        <p>We'd like to thank our team for helping us to grow.</p>
        <p><a class="btn btn-default" href="/Sql/SuppliersView">Learn more &raquo;</a></p>
    </div>
</div>